*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.main-width{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}
.hero{
    width: 100%;
    height: 100vh;
    background-color: #191919;
    background-image: url(../image/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
header{
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav .hamb{
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: transparent;
    position: absolute;
    display: none;
    cursor: pointer;
}
nav .hamb span{
    display: block;
    background: #E94B3CFF;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform, opacity;
}
nav .hamb span:nth-child(2){
    margin: 7px 0px;

}
span{
    color: #E94B3CFF;
}
nav .nav-list{
    list-style: none;
}
nav .nav-list li{
    display: inline-block;
}
nav .nav-list li a{
    display: inline-block;
    color: white; 
    margin-left: 40px;
    font-size: 20px;
    font-weight: 700;
}
nav .nav-list li:not(:last-child) a:hover{
    color: #E94B3CFF;
    transition: .4s;

}
nav .nav-list li.btn a {
    display: inline-block;
    background: transparent;
    border: 2px solid #E94B3CFF;
    font-weight: bold;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: white;
    font-weight: 500;
    
}
nav .nav-list li.btn:hover a{
        background-color: #E94B3CFF;
        border: 2px solid #E94B3CFF;
        cursor: pointer;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    padding-top: 190px;
}
.content .hero-text{
    margin-bottom: 40px;
}
.content .hero-text h1{
    color: white;
    font-weight: 400;
    font-size: 47px;
    line-height: 1.2;
    margin-top: 20px 0px 20px;
}
.content .hero-text h3{
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
   font-weight: 400;

}
.content .hero-text h4{
    color: rgb(231, 155, 148);
    letter-spacing: 5px;
    font-size: 20px;
    margin-top: 10px;
}
.social a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 35px;
    margin-top: 15px;
}
.social a:hover{
    transform: scale(1.1);
    background: #E94B3CFF;
    transition: .4s;
}
.content .hero-text button{
    color: #eee;
    background: #E94B3CFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    border: 2px solid #E94B3CFF;
    border-radius: 30px;
}

.bottom{
    margin-top: 95px;
    margin-left: 45px;
}
.bottom p{
    color: #eee;
    letter-spacing: 3px;
    font-size: 15px;
}
/*about*/
.about-section{
    width: 100%;
    height: 100vh;
    background-color: #191919;
    background-size: cover;
    background-position: center;
    position: relative;
}
.about img{
    height: auto;
    width: 330px;
    border-radius: 50%;
}
.about-text{
    width:550px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color:rgb(248, 248, 248);
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: rgba(250, 176, 176, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size:18px;
    margin-bottom: 45px;
}
button{
    background-color: #E94B3CFF;
    color: #eee;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight:bold;
    padding: 13px 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #E94B3CFF;
    cursor: pointer;
}

/*services*/
.services{
    width: 100%;
    height: 100vh;
    background-color: #101010;
    background-size: cover;
    background-position: center;
    position: relative;
}
.title{
    width: 1130px;;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.title h2{
    color: white;
    font-size: 40px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #E94B3CFF;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: rgb(240, 186, 194);
    font-size: 12px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #E94B3CFF;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #E94B3CFF;
    cursor: pointer; 
}
@media screen and (max-width: 930px) {
    nav .hamb{
        display: initial;
    }
    .click{
        top: 46px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(40deg);
        top: 0;
    }
    nav .nav-list{
        position: absolute;
        top: 90px;
        right: -65%;
        bottom: 0;
        width: 60%;
        height: 60%;
        background: #191919;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 10px;
    }
    nav .nav-list li{
        display: block;
    }
    nav .nav-list li a{
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 40px;
    }
    nav .nav-list li.btn a{
        position: absolute;
        bottom: 0%;
        right: 20%;
        left: 20%;
        padding: 7px 15px;
        font-size: 14px;
    }
    nav .nav-list.open{
        right: 0;
    }
}